body {
    background-color:lightblue;
}
.foto {
    position: absolute;
    right: 150px;
    top: 250px;
}
@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
}